a:link{
    color:blue;
    text-decoration: dashed;  
}
a:visited{
    color:orangered;
    text-decoration: underline;  
}
a:active{
    color:yellow;
    text-decoration:none;  
}
a:hover{
    color:green;
    text-decoration: underline;  
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('https://i.ytimg.com/vi/7dkrwPrmH-Y/maxresdefault.jpg'); */
    /* color: white; */
}
table{
    border: 1px solid black;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;

}
td,th{
     border: 1px solid white;
     background-color: black;
}
.flexbox{
    display:flex;
}
.box{
    background-color:pink;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    text-align: center; 
    margin:10px;
}
